//
// Form Control
//

// Form control
.form-control {
  // Dropdown shown state
  .dropdown.show > & {
    color: var(--im-input-focus-color);
    background-color: var(--im-input-focus-bg);
    border-color: var(--im-input-focus-border-color);
  }

  // Readonly state
  &[readonly] {
    background-color: var(--im-input-readonly-bg);
  }

  // Solid style
  &.form-control-solid {
    background-color: var(--im-input-solid-bg);
    border-color: var(--im-input-solid-bg);
    color: var(--im-input-solid-color);
    @include placeholder(var(--im-input-solid-placeholder-color));
    transition: $transition-input;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: var(--im-input-solid-bg-focus);
      border-color: var(--im-input-solid-bg-focus);
      color: var(--im-input-solid-color);
      transition: $transition-input;
    }
  }

  // Transparent style
  &.form-control-transparent {
    background-color: transparent;
    border-color: transparent;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: transparent;
      border-color: transparent;
    }
  }

  // Flush
  &.form-control-flush {
    @include input-reset();
  }
}

// Placeholder colors
.placeholder-gray-500 {
  @include placeholder(var(--im-gray-500));
}

.placeholder-white {
  @include placeholder($white);
}

// Textarea reset resize
.resize-none {
  resize: none;
}

// Form control solid bg
.form-control-solid-bg {
  background-color: var(--im-input-solid-bg);
}
