//
// Form Select
//

.form-select {
  box-shadow: none !important;

  // Solid style
  &.form-select-solid {
    @include placeholder(var(--im-input-solid-placeholder-color));
    background-color: var(--im-input-solid-bg);
    border-color: var(--im-input-solid-bg);
    color: var(--im-input-solid-color);
    transition: $transition-input;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: var(--im-input-solid-bg-focus);
      border-color: var(--im-input-solid-bg-focus) !important;
      color: var(--im-input-solid-color);
      transition: $transition-input;
    }
  }

  // Transparent style
  &.form-select-transparent {
    @include placeholder(var(--im-input-placeholder-color));
    background-color: transparent;
    border-color: transparent;
    color: $input-color;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: transparent;
      border-color: transparent !important;
      color: $input-color;
    }
  }
}
