//
// Input group
//

.input-group-text {
  color: var(--im-input-group-addon-color);
  background-color: var(--im-input-group-addon-bg);
  border: $input-border-width solid var(--im-input-group-addon-border-color);
}
