

// Image thumbnails
.img-thumbnail {
	background-color: var(--im-thumbnail-bg);
	border: $thumbnail-border-width solid var(--im-thumbnail-border-color);
	@include box-shadow(var(--im-thumbnail-box-shadow));
}

.figure-caption {
	color: var(--im-figure-caption-color);
}
