//
// Indicator
//

.indicator-progress {
  display: none;

  [data-im-indicator='on'] > & {
    display: inline-block;
  }
}

.indicator-label {
  [data-im-indicator='on'] > & {
    display: none;
  }
}
